@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-left">Meus repositorios GitHub</h2>
    <div class="row text-center">
        <div class="form-group">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." id="campo-pesquisa">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="listar-btn">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /input-group -->
</div>

<div class="row">
    <div class="table-responsive col-xs-12" id="table">
        <table class="table table-bordered table-striped display" id="tabela">
            <thead>
                <tr>
                    <th class="col-lg-1 col-sm-7 col-md-7 col-xs-7 text-center">Repositório</th>
                    <th class="col-lg-1 col-sm-7 col-md-7 col-xs-7 text-center">Link GitHub</th>
                    <th class="col-lg-1 col-sm-7 col-md-7 col-xs-7 text-center">Favorito</th>
                </tr>
            </thead>
            <tbody id="corpo"></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-mensagem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Pesquisar nome de repositório</h4>
            </div>
            <div class="modal-body">
                <p id="mensagem">Conteúdo da mensagem</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Pesuisar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/js/Index.js"></script>

